<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="POST">{% csrf_token %}
        <div align="center">
            <label>Usuário:</label>
            <input type="text" name="username" size="23px">
            <br>
            <label>Password:</label>
            <input type="password" name="password" size="23px">
            <br>
            <button type="submit">Entrar</button>
            <br>
        </div>
    </form>

    {% for message in messages %}
        <div align="center">
            <strong>ERROR: </strong>{{ message }}
        </div>
    {% endfor %}

</body>
</html>